<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div class="row" id="header">
        <div class="col-xs-6 col-md-6"></div>
        <div class="col-xs-3 col-md-3">
        </div>
        <div class="col-xs-2 col-md-2" id="login">
            <p style="color: red">{{#each user}}{{name}}{{/each}}</p>
        </div>
        <div class="col-xs-1 col-md-1" id="signup"><a href="/" style="text-decoration:none">Log out</a></div>
    </div>
    {{!-- logo --}}
    <div class="row">
        <div class="col-xs-1 col-md-3"></div>
        <div class="col-xs-10 col-md-6" id="logo">
            <img src="/images/logo.png" class="img-responsive center-block">
        </div>
        <div class="col-xs-1 col-md-3"></div>
    </div>
    {{!-- search bar --}}
    <div class="row">
        <div class="col-xs-1 col-md-3"></div>
        <div class="col-xs-10 col-md-6">
            <input type="text" class="form-control" placeholder="Text input">
        </div>
        <div class="col-xs-1 col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-3"></div>
        <div class="col-xs-10 col-md-6">
        </div>
        <div class="col-xs-1 col-md-3"></div>
    </div>
</body>

</html>
